.content
  .content-flex
    .content-flex-left
      SHOP
      %ul.path
        %li Home
        %li Main
      %ul.prod.wrap-row-around-around
        - @books.each do |product|
          %li.prod-card.column-around-center
            %prod-image
              = link_to image_tag("#{product.cover}"), product_path(product)
            %prod-title
              = link_to "#{product.title}", product_path(product)
            %prod-price
              = "#{product.show_price}"
      %paginate
        = paginate @books
    .content-flex-right
      SHOP BY CATEGORIES
      %ul.categories.column-start-center.w100
        - @categories.each do |cat|
          %li.cat
            = link_to "#{cat.title}", shop_path(cat)