.content
  .content-flex
    .book-content
      .book-title
        = @book.title
      .book-show
        .book-image
          = image_tag "#{@book.cover}"
        .part-book-card
          .book-cart-content
            .book-price
              = @book.show_price
            .book-add-cart
              = form_tag add_cart_path(id: @book.id), method: 'POST' do
                = number_field_tag('quantity', 1, min: 1, max: 99, step: 1)
                = submit_tag "Add to cart", class: 'btn'
          .book-text
            = @book.description
      .review-title
        Review ---
        = link_to '- Add review to this book', new_review_path(book: @book.id)
      - @book.reviews.each do |review|
        .review-block.w100
          .review-info.review-title.row-between-center.w100(ng-controller='ratingCtrl')
            .rating(ng-init="init_book(#{review.rating&.points})")
              %star-rating(ng-model='rating.value'  readonly='rating.isReadonly' on-rating-select='rateFunction(rating)')
            .theme.w100.row-start-center
              = review.theme
            .date
              = review.created_at
          .review-user
            = "by #{review.user.first_name} #{review.user.last_name}"
          .review-text
            = review.text