!!!
%html(ng-app='bookStore')
  %head
    %title= @title
    %meta(name='description' content="#{@description}")
    %meta(name='keywords' content="#{@keywords}")
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body(ng-controller='rootCtrl')
    .container
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            = link_to 'The Bookstore', root_path, class: 'navbar-brand'
          %div.collapse.navbar-collapse(id='bs-example-navbar-collapse-1')
            %ul.nav.navbar-nav
              %li
                = link_to 'Home',     root_path
              %li
                = link_to 'Shop',     shop_index_path
            %ul.nav.navbar-nav.navbar-right
              %li
                = link_to 'CART',     cart_path
              %li
                = link_to 'Settings', settings_path if current_user
              %li
                = link_to 'Orders',   orders_path   if current_user
              %li
                - if current_user
                  = link_to 'Sing_out', destroy_user_session_path, method: 'DELETE'
                - else
                  = link_to 'Sing_in',  new_user_session_path
      .myrow
        .col-1
          .flash-messages
            = render :partial => 'layouts/partial/messages'
          = yield